name: Create Sub Issues

on:
  issues:
    types: [opened]

jobs:
  create_sub_issues:
    runs-on: ubuntu-latest
    if: contains(join(github.event.issue.labels.*.name, ','), 'main-issue')
    steps:
      - name: Create sub-issue 1
        uses: peter-evans/create-issue-from-file@v3
        with:
          title: 'サブIssue 1のタイトル'
          content-filepath: '../ISSUE_TEMPLATE/sub_issue_1.md'
          labels: 'sub-issue'

      - name: Create sub-issue 2
        uses: peter-evans/create-issue-from-file@v3
        with:
          title: 'サブIssue 2のタイトル'
          content-filepath: '../ISSUE_TEMPLATE/sub_issue_2.md'
          labels: 'sub-issue'